/*
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,400italic,700&subset=latin,latin-ext);
*/

body {
    font-family: "Roboto Condensed", "Helvetica", sans-serif;
    font-size: 12px;

    background-color: black;
    color: white;

    margin: 0em;
    padding: 0em;
    min-height: 100%;
}

#root {
    min-height: 100%;
}

#root header {
    border-bottom: 1px solid black;

    background-color: darkgreen;
    color: whitesmoke;

    text-align: center;
}

#root header h1 {
    margin-top: 0em;
    padding-top: 0.5em;
    margin-bottom: -0.2em;

    font-weight: bold;
    font-size: 3em;
}

#sessionView {
    height: 100%;
    padding: 2em 1em;

    background-color: whitesmoke;
    color: black;
}

#sessionView .scene .w3-navbar {
    margin: -2em -1em 2em;
}

#root footer {
    margin-top: 2em;
    border-top: 1px solid black;
    background-color: black;
}

h2 {
    font-size: 2em;
}

.login-prompt {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0em;
    overflow: hidden;

    border: 1px solid black;
    border-radius: 2em;
}

.login-prompt h2 {
    margin: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    padding: 0.5em 1em;

    background-color: green;
    color: white;
}

.login-prompt h2 ~ h2 {
    margin-top: 2em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.daenerys-dialog {
    border: 1px solid black;
}

.daenerys-dialog h2 {
    margin: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    padding: 0.5em 1em;

    background-color: green;
    color: white;
}

.daenerys-list-widget {
    padding: 1em 0em;
    padding-left: 1em;
}

.daenerys-list-item-widget {
    margin: 1em 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    height: 3em;
    clear: both;
}

.daenerys-list-item-widget img {
    position: relative;
    left: -1em;
    top: -1em;
    float: left;

    width: 5em;
    height: 5em;
    border: 1px solid black;
    border-radius: 2.5em;
    background-color: white;
}

.daenerys-list-item-widget h3 {
    font-size: 1.5em;
    margin-top: 0em;
}

.daenerys-add {
    width: 2em;
    height: 2em;
    margin: 0 auto;


    border-radius: 1em;
    border: 1px solid green;
    background-color: green;

    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.daenerys-add:hover {
    border: 1px solid black;
}